
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



/*  general */

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: blue;
    color: white;
    border-width: 0;
    padding: 0.6em 1.2em;
    font-size: 1.1em;
}

button:hover{
    cursor: pointer;
}

section{padding-bottom: 5em;}


/* HEADER------------------------------- */


/*NAVBAR */

nav{
    position:fixed;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

nav>div>a{
    padding: 0 2em;
}

.logo{
    position: relative;
    top: 0.3em;
}


/* header-container */

.header-container{
    padding: 4em 15% 0 ;
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    flex-wrap: wrap;
}

.header-descrition{
    width: 40%;
    display: flex;
    flex-direction: column;
    height:calc(100%- 6em);
}

.header-descrition>div{
    padding-bottom: 2.5em;
}
.header-container>h1{
    width: 100%;
    padding-bottom:1em;
    font-size: 4em;
    font-weight: 900;
}

.header-container>img{
    width: 60%;
}


.fa-arrow-down{
    font-size: 3em
}

.header-container>*{
    position: relative;
    top: 60px;
}





/* MAIN--------------------------------------------- */


main{
    padding: 9em 20% 2em;
}



/* section1------------------- */


/* title */
h2{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em;
}


/* selezione fatturazione */
fieldset{
    border-width: 0;
    padding-bottom: 3em;
}

fieldset>label{
    padding: 0 2em;
}

/* colonne */


.column-container{
    display: flex;
    justify-content: space-between;
   
}

.one-column{
    width: 30%;
    border: 1px solid grey;
}

.fatturation-type{
    padding: 0.4em 0;
    text-align: center;
    font-weight: small;
    border-bottom: 1px solid grey;
}





.normal-link{
    text-decoration: underline;
    color: blue;
    
}



.line{
    width: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


.fa-check{
    color: blue;
}


h5>i{
    padding-right: 0.2em;
}

.column-data>*{
    padding: 1em 2em;
}

.name-type{
    padding-top: 1.5em;
    font-size: 1.5em;
}

.opacity{
    opacity: 0.5;
}
.benefit-container{
    height: 13em;
}
.benefit , .info{
    display: flex;
    padding: 0.6em 0;
    font-size: 0.9em;
}

.icon-padding{ 
    padding-right: 0.4em;
}

.try-free>p{
    padding-top: 2em ;
}

.try-free>.line{
    padding-top: 2em ;
}

.extra-space{
padding: 2em 0;
}

.try-free>button{
    text-align: center;
}

.button-try{
    background-color: blue;
    width: 100%;
    text-align: center;
}
h5{
    font-size: 1em;
}

/* conteinre inferiore section1 */

.container-section1f{
   
    width: 100%;
    border: 1px solid black;
}


.head-container-section1f{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1em 0;
    
}

.body-container-section1f{
    display: flex;
}
.body-container-section1f>*{
    padding: 1em 2em;
  
}

.spacew{
    padding-top: 2em;
}

div{font-size: 1.1em;}

.left-1f{
    width: 70%;
}

.left-1f>*{
    padding: 1em 0;
}

.right-1f{
    width: 30%;
    padding-top:2em ;
}