
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}



/*  general */

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: blue;
    color: white;
    border-width: 0;
    padding: 0.6em 1.2em;
    font-size: 1.1em;
}

button:hover{
    cursor: pointer;
}

section{padding-bottom: 5em;}


/* HEADER------------------------------- */


/*NAVBAR */

nav{
    position:fixed;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 2;
}

nav>div>a{
    padding: 0 2em;
}

.logo{
    position: relative;
    top: 0.3em;
}


/* header-container */

.header-container{
    padding: 4em 15% 0 ;
    width: 100%;
    background-color: #B4D0E7;
    display: flex;
    flex-wrap: wrap;
}

.header-descrition{
    width: 30%;
    display: flex;
    flex-direction: column;
    height:calc(100%- 6em);
}

.header-descrition>div{
    padding-bottom: 2.5em;
}
.header-container>h1{
    width: 100%;
    padding-bottom:1em;
    font-size: 4em;
    font-weight: 900;
}

.header-container>img{
    width: 70%;
}


.fa-arrow-down{
    font-size: 3em
}

.header-container>*{
    position: relative;
    top: 60px;
}





/* MAIN--------------------------------------------- */


main>*:not(.bigcontainer){
    padding: 9em 20% 2em;
}





/* section1------------------- */


/* title */
h2{
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 1em;
}


/* selezione fatturazione */
fieldset{
    border-width: 0;
    padding-bottom: 3em;
}

fieldset>label{
    padding: 0 2em;
}

/* colonne */


.column-container{
    display: flex;
    justify-content: space-between;
}

.one-column{
    width: 30%;
    border: 1px solid grey;
}

.fatturation-type{
    padding: 0.4em 0;
    text-align: center;
    font-weight: small;
    border-bottom: 1px solid grey;
    font-size: 0.8em;
}





.normal-link{
    text-decoration: underline;
    color: blue;
    
}



.line{
    width: 25%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


.fa-check{
    color: blue;
}


h5>i{
    padding-right: 0.2em;
    font-size: 0.8em;
}

.column-data>*{
    padding: 1em 2em;
}

.name-type{
    padding-top: 1.5em;
    font-size: 1.5em;
}

.opacity{
    opacity: 0.5;
}
.benefit-container{
    height: 14em;
}
.benefit , .info{
    display: flex;
    padding: 0.6em 0;
    font-size: 1em;
}

.icon-padding{ 
    padding-right: 0.4em;
}

.try-free>p{
    padding-top: 2em ;
}

.try-free>.line{
    padding-top: 2em ;
}

.extra-space{
padding: 2em 0;
}

.try-free>button{
    text-align: center;
}

.button-try{
    background-color: blue;
    width: 100%;
    text-align: center;
}
h5{
    font-size: 1em;
}

/* conteinre inferiore section1 */

.container-section1f{
   
    width: 100%;
    border: 1px solid black;
}


.head-container-section1f{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 1em 0;
    
}

.body-container-section1f{
    display: flex;
}
.body-container-section1f>*{
    padding: 1em 2em;
  
}

.spacew{
    padding-top: 2em;
}


.left-1f{
    width: 70%;
}

.left-1f>*{
    padding: 1em 0;
}

.right-1f{
    width: 30%;
    padding-top:2em ;
}




/* SECTION 2 */


.section2-container{
    width: 100%;
    display: flex;
}


.section2-img{
    width: 60%;

}

.section2-img>img{
    width: 100%;
}


.section2-text{
    width: 40%;
    padding: 2em 4em;
}


.section2-text>h3{
  padding: 2em  0;
}

.section2-text>p{
    padding: 0  0  4em 0;
  }

  .white-botton{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }


  /* SECTION 3-------------------- */


  h2{
    font-size: 3em;
  }


  .section3-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2em;
  }

  .section3-onecolumn{
    width: calc(100% / 3);
    display: flex;
    justify-content: left;
    flex-direction: column;
  }

  .section3-onecolumn>*{
    padding: 1vh;
   
  }

  .section3-onecolumn>img{
    width: 80%;
  }
   
.section3-onecolumn>h3{
    font-size: 1.4em
}

/* section 4----------- */

.half-whidth{
    max-width: 60%;
}
 #section4-text{
    padding-bottom: 9em;
 }
.bigcontainer{ 
    
    padding-bottom: 0;
}

.bigcontainer>div{
display: flex;
}

.boxfor4{
    width: calc( 100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.boxzone{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center; 
    height: calc(100vw / 6);
}

.boxzone>img{
    width: 50%;
    filter: invert(100%);
}

.single-box{
    width: calc( 100vw / 3);
    height: calc(100vw / 3);
    background-color: #F5F5F5 ;
    display: flex;
    flex-direction: column;
    
}

.single-box>img{
    padding: 2em;
    max-width: 50%;
}

.single-box>p{
    padding: 0 2em 3em 2em;
}
.line-space{
    width: 20%;
    margin: 0 2em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2em;
}
/* VARI BACKGROUND */


.green-background{
    background-color: #A2D39B;
    border: 0.8em solid #D1E9CD;
}

.purple-bakcground{
    background-color: #61082B;
}

.blu-background{
    background-color: #0093CE;
}

.easyred-background{
    background-color: #FF1C1C;
}

.red-background{
    background-color: #D5001F;
}

.easygrey-background{
    background-color: #B4D0E7;
}

.bludark-background{
    background-color: #0D2481;
}

.yellow-background{
    background-color: #FFD830;
}


/* section 4 seconda parte */

.bigcontainer+.bigcontainer{
    height: calc(100vh / 3);
}

.assetcontent{
    padding: 0 20%;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.assetcontentdiv1{
    max-width: 50%;
    padding-top: 12vh;
}
.assetcontentdiv1>h2{
    font-size: 2em;
    color: #61082B;
    padding: 0;
}

.assetcontentdiv2{
    max-width: 50%;
    padding-top: 12vh;
}

.white-botton2{
    color: black;
    background-color: white;
}

.margin-top{
    margin-top: 3em ;
}

/* section 5 */

.section5-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 7em;
}

.row{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em 0 0;
    height: 6em;
    font-weight: bold;
}

/* Footer */
.f-section{
    padding-bottom: 0;
}
.fbox{
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    padding: 3em  20% 0 20%;
}

.footer-column{
    display: flex;
    flex-direction: column;
    color: white;
}

.footer-column>h5{
padding-bottom: 2em;
font-weight:bold;
font-size: 1.5em;
}
.footer-column>a{
    color: white;
    padding: 0.6em 0;
    
}

.end-page{
    background-color: black;
    width: 10%0;
    
    padding: 4em 0;
    padding-left: 20%;
}

.end-page>div{
    width: 10%;
    border-top: 1px solid white ;
}

.lenguage{
    padding: 3em 0 0 0;
    color: gray;
    font-size: 1em;
    font-weight: normal;
}

.white-botton3{
    color: grey;
    background-color: transparent;
    padding:0.2em 0 0 0.1em;
}